* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0 auto;
  width: 1480px;
}

header .logo {
  width: 352px;
  color: #888;
  text-align: center;
  font-family: "Playfair Display",serif;
  font-size:70px;
  font-style: normal;
  font-weight: 400;
  line-height: 72px; /* 180% */
  letter-spacing: 0.4px;
  align-self: flex-start;
  justify-self: flex-start;
  margin-top: -20px;
  display: none;
  

}


header {
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: flex-start;
}
header a {
  text-decoration: none;
  color: #888;
  text-align: center;
  font-family: "Playfair Display",serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 72px; /* 180% */
  letter-spacing: 0.4px;
}

header li {
  list-style: none;
}
.last-list {
  display: flex;
  gap: 10px;
  margin-left: 50px;
  justify-content: baseline;
  align-items: flex-start;
}
.last-list a:nth-child(1){
  margin-right: 30px;
}

.header-svg {
  width: 75px;
  height: 74px;
  flex-shrink: 0;
}
