* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0 auto;
  width: 1480px;
}

header .logo {
  width: 352px;
  color: #888;
  text-align: center;
  font-family: "Playfair Display", serif;
  font-size: 70px;
  font-style: normal;
  font-weight: 400;
  line-height: 72px;
  /* 180% */
  letter-spacing: 0.4px;
  align-self: flex-start;
  justify-self: flex-start;
  margin-top: -20px;
  display: none;
  


}


header {
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: flex-start;
}

header a {
  text-decoration: none;
  color: #888;
  text-align: center;
  font-family: "Playfair Display", serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 72px;
  /* 180% */
  letter-spacing: 0.4px;
}

header li {
  list-style: none;
}

.last-list {
  display: flex;
  gap: 10px;
  margin-left: 50px;
  justify-content: baseline;
  align-items: flex-start;
}
.last-list a:nth-child(1){
  margin-right: 30px;
}

.header-svg {
  width: 75px;
  height: 74px;
  flex-shrink: 0;
}

.mywork-cover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  width: 94%;
  margin-left: 3%;
  background-color: #888;
  margin-bottom: 64px;
  height: 44vh;

}

.body-box h1,
.body-box h2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #FFF;
  text-align: center;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: 400;
  line-height: 6vh;
  /* 200% */
  letter-spacing: -0.72px;
  ;
}

.body-box h6 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  font-size: 2em;
  /* 828.571% */
  text-transform: uppercase;
}

.married-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1vw;
  padding: 0;
  width: 94%;
  margin-left: 3%;
  margin-bottom: 3vh;
}

.married-list div {
  background-color: #888;
  height: 44vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.body-box h1 {
  font-size: 4em;
}

.body-box h2 {
  font-size: 3em;
}

.body-box h6 {
  font-size: 1em;
}

.married-list svg {
  width: 40px;
  height: 8px;
  flex-shrink: 0;
}